.wrapper {
  color: white;
  padding: 2%;
  background-color: #222;
  
}

.wrapp0 {
  
}

.wrapp1 {
  background: grey;
  text-align: center;
  
  
}

.finalscore1 {
  font-size: 50px;
  text-align: center;
  padding-top: 50px ;
}

.finalscore2 {
  font-size: 25px;
  text-align: center;
  padding-top: 50px ;
}

.finalscore {
  color: black;
}

.finalscorebut {
  width: 40%;
  font-size: 25px;
  margin-top: 30px;
  background: rgb(80, 185, 97);
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 3px;
  margin-bottom: 50px;
  cursor: pointer;
}